<ion-header class="ion-padding">
  <ion-toolbar> 
    
    <ion-buttons slot="start">
      <ion-back-button 
       defaultHref="/"
       text="Volver"
       color="primary"
       mode="ios"></ion-back-button>
   </ion-buttons>

   <ion-buttons slot="end">
    <ion-avatar>
      <ion-img src="/assets/avatarmaipu.jpg"></ion-img>
    </ion-avatar>
  </ion-buttons>

    <ion-title class="ion-text-center">CONOCE MAIPU</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <ion-card-header color="secondary" > 
    <ion-card-title class="ion-text-center colorletra">Visita</ion-card-title>      
  </ion-card-header> 
  <br>

  <ion-card>    
    <ion-card-header> 
      <ion-img src="assets/templo.jpg"></ion-img>
      <ion-card-title class="ion-text-center ion-padding colorTitulo">Templo Votivo De Maipú</ion-card-title>
     
      <p class="colorparrafo"> 
     Con 96 metros de altura y un vitral de 300 m2, el Santuario Nacional de Maipú ocupa un lugar de relevancia 
     entre las construcciones religiosas más importantes de Latinoamérica. 
     Es así como, en el año 1818, Bernardo O’Higgins coloca la primera piedra de la Capilla de la Victoria, 
     en el lugar preciso donde se ganó la Batalla de Maipú. 
     La construcción del templo duró más de treinta años y fue inaugurado en 1974. 
     El Templo ha sido protagonista de terremotos, derrumbes, cambios de ubicación y diseño.  
     Además, ubicado al interior del Templo de Maipú se encuentra el Museo del Carmen, 
     que presenta una excelente muestra de artes decorativas y arte religioso, desde la colonia hasta la república. 
     Es un espacio para conocer la historia social, religiosa, militar y artística de Chile.
     Horario: Lunes a sábado de 10:30 a 13:00 hrs. domingo 09:30 a 13:00 hrs. / Valores: Gratuito
    </p> 
  <ion-item>
  <ion-button color="success" fill="outline" slot="end" href="http://santuarionacional.cl/200-anos/" target="_blank">
    Saber más Historia
  </ion-button> 
</ion-item> 
    <ion-item color="warning"  href="https://www.google.com/maps/place/El+Carmen+1750,+Maip%C3%BA,+Regi%C3%B3n+Metropolitana/@-33.5112145,-70.7651979,18z/data=!3m1!4b1!4m5!3m4!1s0x9662dcd3ec010359:0x970fecab5f8f7543!8m2!3d-33.5112364!4d-70.7655386" class="ion-activated" target="_blank">
      <ion-icon class="colorletra" name="earth" slot="start"></ion-icon>
      <ion-label class="colorletra">Ubicación</ion-label>
    </ion-item>
  </ion-card-header>      
  </ion-card>

  <ion-card>    
    <ion-card-header> 
      <ion-img src="assets/cerro.jpg"></ion-img>
      <ion-card-title class="ion-text-center ion-padding colorTitulo">Cerro Primo De Rivera</ion-card-title>
     
      <p class="colorparrafo"> 
      Popularmente conocido como Cerro 15 por su asociación al paradero de la avenida en que se ubica. 
      Originalmente fue una pequeña loma que se caracterizaba por poseer una vegetación esclerófila y 
      que se convirtió en uno de los escenarios de la Batalla de Maipú, ocurrida el 5 de abril de 1818 y 
      que fue decisiva en la obtención de la independencia nacional. 
      Debido a que este Cerro es un testimonio relevante del patrimonio histórico de nuestro país fue 
      declarado Monumento Histórico el 22 de febrero de 1991. 
      En la actualidad, es un conocido parque comunal donde se realizan múltiples actividades de esparcimiento, 
      siendo un interesante polo para la realización de actividades deportivas y al aire libre.
      Horario: Lunes a domingo de 9:00 a 18:00 hrs. / Valores: Gratuito
    </p> 
  <ion-item>
  <ion-button color="success" fill="outline" slot="end" href="https://www.monumentos.gob.cl/monumentos/monumentos-historicos/cerro-primo-rivera-pajaritos" target="_blank">
    Saber más Historia
  </ion-button> 
</ion-item> 
    <ion-item color="warning"  href="https://www.google.com/maps/place/Anunciaci%C3%B3n,+Maip%C3%BA,+Regi%C3%B3n+Metropolitana/@-33.4954832,-70.7550631,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c32f86ccad03:0x7c93c37aba40e13c!8m2!3d-33.4954832!4d-70.7550631" class="ion-activated" target="_blank">
      <ion-icon class="colorletra" name="earth" slot="start"></ion-icon>
      <ion-label class="colorletra">Ubicación</ion-label>
    </ion-item>
  </ion-card-header>      
  </ion-card>
  
  <ion-card>    
    <ion-card-header> 
      <ion-img src="assets/monumento.jpg"></ion-img>
      <ion-card-title class="ion-text-center ion-padding colorTitulo">Plaza y Monumento a los vencedores de Bailén</ion-card-title>
     
    <p class="colorparrafo"> 
      Este monumento fue construido en memoria a los soldados patriotas del ejército de Los Andes, que vencieron al 
      ejército español, que había derrotado al poderoso ejército de Napoleón en la batalla de Bailén. 
      Cabe destacar que el General y Libertador Don Bernardo O’Higgins Riquelme fue quien diseñó y dio orden de 
      construir este monumento. Para su construcción se dictó un decreto que fue firmado por el General Bernardo 
      O’Higgins, diciendo: “En lo más descubierto de la loma, se erigirá una pirámide cuadrangular y que en cada uno 
      de sus lados se coloque una lámina de bronce con el nombre de los soldados destacados”.
      Horario: Libre / Valores: Gratuito
    </p> 
  <ion-item>
  <ion-button color="success" fill="outline" slot="end" href="https://urbatorium.blogspot.com/2018/01/la-plaza-del-monumento-y-su-homenaje.html" target="_blank">
    Saber más Historia
  </ion-button> 
</ion-item> 
    <ion-item color="warning"  href="https://www.google.com/maps/search/?api=1&query=Gral%20Ord%C3%B3%C3%B1ez%20con%20Monumento" class="ion-activated" target="_blank">
      <ion-icon class="colorletra" name="earth" slot="start"></ion-icon>
      <ion-label class="colorletra">Ubicación</ion-label>
    </ion-item>
  </ion-card-header>      
  </ion-card>

  <ion-card>    
    <ion-card-header> 
      <ion-img src="assets/museoagua.jpg"></ion-img>
      <ion-card-title class="ion-text-center ion-padding colorTitulo">Museo del Agua</ion-card-title>
     
      <p class="colorparrafo"> 
      Ubicado al interior de la planta El Tranque de SMAPA, cuya construcción data de 1956, el Museo del Agua exhibe 
      medidores, cañerías, llaves de paso, tomadores de estado y un sinfín de materiales y herramientas utilizados 
      para garantizar el suministro de agua potable de las comunas de Maipú y Cerrillos, de acuerdo al modelo de la 
      única sanitaria 100% municipal del país. Maquetas, fotografías y videos proyectados al interior de un domo, 
      dan cuenta tanto de la historia como de los aspectos técnicos relacionados con el agua. Los visitantes aprenderán
      cómo llega el preciado líquido a sus hogares y se familiarizarán con procesos y conceptos como la captación, 
      cloración, elevación y distribución.
      Horario: Sábado y domingo, 10:00 – 18:30 / Valores: Gratuito
    </p> 
  <ion-item>
  <ion-button color="success" fill="outline" slot="end" href="https://www.slideshare.net/jpabloh/historia-de-smapa" target="_blank">
    Saber más Historia
  </ion-button> 
</ion-item> 
    <ion-item color="warning"  href="https://www.google.com/maps/search/?api=1&query=Segunda%20Transversal%202010,%20Maip%C3%BA." class="ion-activated" target="_blank">
      <ion-icon class="colorletra" name="earth" slot="start"></ion-icon>
      <ion-label class="colorletra">Ubicación</ion-label>
    </ion-item>
  </ion-card-header>      
  </ion-card>

</ion-content>
