.colorletra1{
  color: #ffffff;
}

.colorletra{
    color: #ffffff;
  }


.colorTitulo{
    color: rgb(226, 14, 145);
}

.colorparrafo{
    color: #080808;
    text-align: justify;
}

.colorsubtitulo{
    color:rgb(226, 14, 145);
}

