.text{
    font-size: 15px;
    color: rgb(226, 14, 145);
    text-align: justify;
}

.feriados-nombre{
    font-size: 15px;
    color: rgb(11, 32, 219);
    text-align: justify;

}

.feriados-description{
    text-align: justify;
    color: rgb(10, 165, 75);
}

.colorletra{
    color: #ffffff;
  }
  
  
  .colorparrafo{

      color:rgb(226, 14, 145);
  }